<app-title title="Education" section="2"></app-title>
<div class="container" appScroll (sectionChange)="onSectionChange($event)">
    <mat-card [@scrollAnimation]="state" style="box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);margin: 20px 0 20px;">
        <mat-nav-list style="width: 100%; padding: 0;">
            <div *ngFor="let item of list; let i=index">
                <p><mat-icon>{{item.icon}}</mat-icon>&nbsp;&nbsp;&nbsp;{{item.name}}</p>
            </div>
        </mat-nav-list>
    </mat-card>
</div>