<mat-card style="background-color: bisque;border-radius: 0;box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);margin: 20px;">
    <div>
  
      <!-- <div class="row justify-content-center">
          <img [src]="img" width="50px" height="150px" width="150px" style="border-radius: 50%;">
      </div> -->
      <!-- <h3 class="row justify-content-center">aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3> -->
      <blockquote class="row justify-content-center" style="margin: 20px;">
         <p> 2018:  IT development</p>
         <p> 2015:  Licence degree in fishing</p>
         <p> 2010:  lieutenant degree in fishing</p>
         <p> 2008:   bachelor's degree in experimental science</p>
        <cite>Mourabit Mohamed, Dev, IT.</cite>
    </blockquote>
    </div>
  </mat-card>
