<app-title title="Skills" section="3"></app-title>
<div class="container" appScroll (sectionChange)="onSectionChange($event)">
    <mat-card style="box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);margin: 20px 0 20px;">
    <div class="row justify-content-center">
      <div [@scrollAnimation]="state" class="col-md-4 text-center">
        <h3>Web development</h3>
        <div *ngFor="let item of devWeb; let i=index" style="margin: 10px;">
            <span>{{item.name}}</span>
            <span style="float: right;">{{item.accuracy}}%</span>
          <mat-progress-bar mode="determinate" [value]="item.accuracy"></mat-progress-bar>
        </div>
      </div>
      <div [@scrollAnimation]="state" class="col-md-4 text-center">
          <h3>Software</h3>
          <div *ngFor="let item of software; let i=index" style="margin: 10px;">
              <span>{{item.name}}</span>
              <span style="float: right;">{{item.accuracy}}%</span>
            <mat-progress-bar mode="determinate" [value]="item.accuracy"></mat-progress-bar>
          </div>
      </div>
      <div [@scrollAnimation]="state" class="col-md-4 text-center">
          <h3>Personal</h3>
          <div *ngFor="let item of personal; let i=index" style="margin: 10px;">
              <span>{{item.name}}</span>
              <span style="float: right;">{{item.accuracy}}%</span>
            <mat-progress-bar mode="determinate" [value]="item.accuracy"></mat-progress-bar>
          </div>
      </div>
    </div>
  </mat-card>
</div>